# Ignore all data inside "appdata" folder or any edgeapp.

*/appdata/*
!*/appdata/.gitkeep
!filebrowser/appdata/filebrowser-ws/.filebrowser.json
!filebrowser/appdata/filebrowser-ws/database.db
myedgeapp.env
postinstall.done
edgeapp.env
*/.run
edgebox-postinstall.done
